<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://bybora.com/smartxtream" version="1.0.0" viewmodes="maximized">
    <!-- package id = 10 alphanumeric chars; keep stable across builds/cert -->
    <tizen:application id="SmrtXtrm01.SmartXtream" package="SmrtXtrm01" required_version="4.0"/>

    <!-- Allow loading remote streams/images from any host -->
    <access origin="*" subdomains="true"/>

    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Smart Xtream AI IPTV Player</name>

    <tizen:profile name="tv"/>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>

    <tizen:setting screen-orientation="landscape" context-menu="disable"
                   background-support="disable" encryption="disable"
                   install-location="auto" hwkey-event="enable"/>
</widget>
